body {
    background-color: lightblue;
}

#container {
    margin: 10%;
}

#navbar {
    display: inline-block;
    width: 500px;
    font-family: sans-serif;
}

#navbar li {
    display: block;
    width: 120px;
    float: left;
    margin-left: 2px;
    border: 1px solid #000;
}

#navbar a {
    display: block;
    padding: 3px;
    text-decoration: none;
    background-color: #fff;
    color: #009;
    text-align: center;
}

#navbar a:hover {
    background-color: #009;
    color: #fff;
}

#header {
    display: ;
}

#first-section {
    display: inline;
}

#covid-info {
    display: inline-block;
    width: 80%;
    float: left
}

#virus-image {
    display: inline-block;
}