body {
    background-color: lightblue;
    margin: 5%;
}

#container {}

#navbar {
    width: 80%;
    font-family: sans-serif;
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

#navbar li {
    display: inline;
    border: 2px solid #000;
}

#navbar a {
    display: inline-block;
    padding: 3px;
    text-decoration: none;
    background-color: #009;
    color: #fff;
    text-align: center;
}

#navbar a:hover {
    background-color: blue;
    color: #fff;
}

#header {
    display: block;
    text-align: center;
}

#first-section {
    display: block;
    clear: both;
}

#covid-info {
    width: 70%;
    float: left
}

#virus-image {
    display: inline-block;
    margin-top: 100px;
}

#stats-heading {
    text-align: center;
}

#infected-section {
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    width: 35%;
    text-align: center;
    margin-top: 10%;
}

#confirmed-section {
    display: inline-block;
    width: 30%;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-top: 10%;
}

#deceased-section {
    display: inline-block;
    width: 30%;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-top: 10%;
}

#deceased,
#infected,
#dailyconfirmed {
    font-size: 50px;
}