body {
    background-color: lightblue;
    margin: 5%;
}

#container {}

#navbar {
    width: 100%;
    font-family: sans-serif;
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

#navbar li {
    display: inline;
    border: 1px solid #000;
}

#navbar a {
    display: inline-block;
    padding: 3px;
    text-decoration: none;
    background-color: #fff;
    color: #009;
    text-align: center;
}

#navbar a:hover {
    background-color: #009;
    color: #fff;
}

#header {
    display: block;
    text-align: center;
}

#first-section {
    display: block;
    clear: both;
}

#covid-info {
    width: 70%;
    float: left
}

#virus-image {
    display: inline-block;
    margin-top: 100px;
}